.contains {
  background-size: contain !important;
  background-position: 50%;
  background-repeat: no-repeat;
}
h3,
h4,
ul,
.author,
.footer,
.header {
  background-color: rgba(0, 0, 0, 0.7);
}
.slide {
  color: #FFFFFF;
  background: no-repeat center;
  background-size: cover !important;
  background-color: #ffffff;
  text-align: center;
}
.slide:after {
  text-align: right;
  padding-bottom: 0.25em;
  padding-right: 0.25em;
}
.slide h3 {
  font-size: 74px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
  text-align: center;
}
.slide h4,
.slide ul {
  width: 90%;
  margin-left: 5%;
}
.slide h4 {
  font-size: 60px;
  margin-top: 10%;
  text-align: center;
  line-height: 1.25em;
  padding-bottom: 0.25em;
  margin-bottom: 0.125em;
}
.slide ul {
  text-align: left;
  padding-left: 33%;
  width: 57%;
}
.slide ul li {
  font-size: 40px;
}
.slide ul > li:before {
  content: '';
}
.slide .footer {
  height: 48px;
  width: calc(100% - 1em);
  position: absolute;
  bottom: -48px;
  padding: 0 0.5em;
  text-align: left;
}
.slide .footer .twitter {
  display: inline-block;
  float: right;
}
.slide .footer .twitter a {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  border: 0;
}
.slide .header {
  height: 48px;
  width: calc(100% - 1em);
  padding: 0 0.5em;
}
.slide .header .twitter {
  display: inline-block;
  float: right;
}
.slide .header .twitter a {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  border: 0;
}
.slide.cover {
  background-color: #ffffff;
}
.slide.main.cover {
  background-image: url('../pictures/main_cover.png');
  background-size: contain !important;
  background-position: 50%;
  background-repeat: no-repeat;
}
.slide.section-1.cover {
  background-image: url('../pictures/section-1_cover.jpg');
}
.slide.section-1.part-1 {
  background-image: url('../pictures/section-1_part-1.png');
  background-size: contain !important;
  background-position: 50%;
  background-repeat: no-repeat;
}
.slide.section-1.part-2 {
  background-image: url('../pictures/section-1_part-2.jpg');
}
.slide.section-1.part-3 {
  background-image: url('../pictures/section-1_part-3.jpg');
}
.slide.section-1.part-4 {
  background-image: url('../pictures/section-1_part-4.jpg');
  background-size: contain !important;
  background-position: 50%;
  background-repeat: no-repeat;
}
.slide.section-2.cover {
  background-image: url('../pictures/section-2_cover.jpg');
}
.slide.section-2.part-1 {
  background-image: url('../pictures/section-2_part-1.jpg');
  background-size: contain !important;
  background-position: 50%;
  background-repeat: no-repeat;
}
.slide.section-2.part-1 h4 {
  font-size: 48px;
}
.slide.section-2.part-2 {
  background-image: url('../pictures/section-2_part-2.jpg');
}
.slide.section-2.part-3 {
  background-image: url('../pictures/section-2_part-3.jpg');
}
.slide.section-2.part-4 {
  background-image: url('../pictures/section-2_part-4.jpg');
  background-size: contain !important;
  background-position: 50%;
  background-repeat: no-repeat;
}
